<header class="wrapper">
    <div class="header">
        <div class="header__logo">
            <a href="#"><img src="images/gate8gr.png"></a>
        </div>
        <h1 class="header__title">SocialMood</h1>
        <h5 class="header__description">find your mood in a large people crowd</h5>
    </div>
</header>