<!DOCTYPE html>
<html ng-app="socialMood">
  <head>
    <title><%- 'gate8team | ' + title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <%- partial('partials/header.ejs') %>

    <%- body %>

    <%- partial('partials/footer.ejs') %>

    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>
    <!-- angular js -->
    <script type="text/javascript" src="/js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/jquery/gate8.js"></script>

    <script type="text/javascript" src="/js/angular/angular.min.js"></script>
    <script type="text/javascript" src="/js/angular/angular-masonry-directive.js"></script>
    <script type="text/javascript" src="/js/angular/app.js"></script>
    <script type="text/javascript" src="/js/angular/SearchService.js"></script>
    <script type="text/javascript" src="/js/angular/SearchController.js"></script>
  </body>
</html>
