*,
*:before,
*:after {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

body {background: #fefefe; font-family: 'Open Sans'; color: #424242;}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    -webkit-appearance: none;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.77778rem;
    margin: 0 0 0.88889rem 0;
    padding: 0.44444rem;
    height: 2.05556rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

.wrapper {max-width: 1200px; margin: 0 auto;}

.header {margin: 40px 0 0 0;}
    .header__logo {text-align: center; margin: 0 0 0px 0;}
    .header__title {text-transform: uppercase; font-size: 52px; font-weight: 700; text-align: center; margin: 0 0 0px 0;}
    .header__description {text-transform: lowercase; font-size: 15px; font-weight: 300; text-align: center; margin: 0 0 0px 0; color: #0c8da0;}

.main {margin: 20px 0 0 0; padding: 0 30px;}
    .main__search {max-width: 600px; margin: 0 auto; position: relative;}
        .main__search .main__search__input {padding-right: 30px;}
        .main__search__icon {position: absolute; right: 8px; top: 6px; background: url(../i/wheel_20x20.png) no-repeat; height: 20px; width: 20px; cursor: pointer; opacity: .7;}
        .main__search__icon:hover {opacity: 1;}
        .main__search__options {position: absolute; right: 0px; top: 35px; min-width: 50px; background: #fefefe; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); border: 1px solid #cccccc; padding: 10px; font-size: 0.77778rem; z-index: 2;}
            .main__search__options__title {font-size: 0.77778rem; font-weight: bold; margin: 0 0 10px 0;}
            .main__search__options__item {margin-top: 5px;}
        .main__search__triangle {width: 0; height: 0; position: absolute; right: 8px; top: 26px; z-index: 2;}
            .main__search__triangle--up {border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #ccc;}
            .main__search__triangle--up--white {border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; top: 27px; z-index: 3;}
    .main__preloader {background: url(../i/loader.GIF) no-repeat; height: 40px; width: 38px; margin: 0 auto;}
    .main__status {}
        .main__status__title {font-size: 20px; font-weight: 400; margin: 30px 0 30px 0;}
    .main__errors {max-width: 600px; margin: 0 auto;}
        .main__errors__title {font-size: 20px; font-weight: 400; margin: 30px 0 30px 0; text-align: center;}
    .main__results {margin-top: 30px;}
        .main__results--twitter {}
        .main__results--instagram {}
        .main__results__item {font-weight: 300;}
            .main__results__item__user {}
                .main__results__item__user__ava {height: 54px; width: 70px; overflow: hidden;}
                    .main__results__item__user__ava img {border-radius: 50%; border: 3px solid #0c8da0;}
                .main__results__item__user__info {line-height: 18px; min-height: 54px; font-size: 14px;}
            .main__results__item__text {}

.row {overflow: hidden;}
    .row + .row {margin: 20px 0;}
    .row:after {content: ''; display: inline-block; clear: both;}
    .row .col {width: 100%;}
    .row .col__1of3 {width: 33%;}
    .row .col__2of3 {width: 66%;}
    .row .col__1of4 {width: 25%;}
    .row .col__3of4 {width: 75%;}
    .row .col__1of2 {width: 50%;}
    .row .col__left {float: left;}
    .row .col__right {float: right;}

.item {float: left; margin: 0 10px 10px 0; line-height: 0px;}
    .item--instagram {}
        .item--instagram--thumb {width: 160px; height: 160px; border: 5px solid #0c8da0; box-shadow: 0 0px 4px rgba(0,0,0,0.35); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.35); -webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.35);}
        .item--instagram--low {width: 316px; height: 316px; border: 5px solid #0c8da0; box-shadow: 0 0px 4px rgba(0,0,0,0.35); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.35); -webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.35);}