<main class="wrapper">
    <div class="main" ng-controller="SearchController">
        <div class="main__search">
            <input type="text" placeholder="Search for your mood.." ng-model="tagName" ng-enter="searchByTag()">
        </div>
        <div class="main__status">
            <h4 class="main__status__title" ng-show="showStatus">Found {{ statusCount }} items..</h4>
        </div>
        <div class="main__preloader" ng-show="showPreloader"></div>
        <div class="main__results--twitter" ng-show="showTwitter">
            <div class="main__results__item row" ng-repeat="searchResult in searchResults.twitter">
                <div class="main__results__item__user col__1of4 col__left row">
                    <div class="main__results__item__user__ava col__left">
                        <img ng-src="{{ searchResult.profileImage }}">
                    </div>
                    <div class="main__results__item__user__info col__left col__1of2">
                        {{ searchResult.userName }} / <b>@{{ searchResult.screenName }}</b><br/>
                        {{ searchResult.location }}
                    </div>
                </div>
                <div class="main__results__item__text col__3of4 col__right">
                    {{ searchResult.text }}
                </div>
            </div>
        </div>
        <div class="main__results--instagram" ng-show="showInstagram">
            <div ng-repeat="searchResult in searchResults.instagram" class="item item--instagram--{{ searchResult.imageType }}" ng-gate8-masonry>
                <img ng-src="{{ searchResult.image }}">
            </div>
        </div>
    </div>
</main>