<main class="wrapper">
    <div class="main" ng-controller="SearchController">
        <div class="main__search">
            <input type="text" placeholder="Search for your mood.." ng-model="tagName" ng-enter="searchByTag()">
        </div>
        <div class="main__preloader" ng-show="showPreloader"></div>
        <div class="main__results" ng-hide="showPreloader">
            <h4 class="main__results__title">No results yet ;(</h4>
            <div class="main__results__description" ng-repeat="searchResult in searchResults">
                <p>{{ searchResult.text }}</p>
            </div>
        </div>
    </div>
</main>